.sidenav-container {
  height: 100%;
 
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.bg-color-whatever {
  position: sticky;
  top: 0;
  z-index: 1;

}
.mat-toolbar.mat-primary{
  background-color: bisque;
}

mat-toolbar{
  background-color:  #259086;
  color: #fff;
}

mat-sidenav{
  background-color:  #259086;
}

mat-nav-list a {
  color: #fff;
}

button.mat-button, .mat-icon-button, .mat-stroked-button {
  color: #fff;
  background: transparent;
  font-size: 16px;
  
}