<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list class="header-row">
      <div class="nav-a">
        <!-- <a mat-list-item routerLink="/admin/create">Create product</a> -->
            <!-- <a mat-list-item href="/admin/dashboard">Dashboard</a>
        <a mat-list-item href="/admin/table">Table</a> -->
        <a mat-list-item routerLink="/admin/products">List of Products</a> 
        <!-- <a mat-list-item href="/admin/login">Login</a> -->
        <!-- <a mat-list-item href="/admin/signup">Signup</a> -->
        <a mat-list-item routerLink="/products">Catalog</a>
      </div>
      <div class="button-logout">
        <button mat-button (click)="logout()" >Logout</button>
      </div>   
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Platz-store Admin</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
