
nav > li {
    padding: 5px;
    text-decoration: none;
}
li > a.active {
    background-color: #233699;
    color: #ffff;
}
li{
    display: inline;
    color: #ffff;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header-row{
    width: 100%;
}

mat-toolbar-row{
    background-color: #3f51b5;
}
a.mat-raised-button{
    background-color: #ffff;
}