<p>header works!</p>
<nav>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
      <li><a routerLink="/card" routerLinkActive="active">Card</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      <!-- <li><a routerLink="**" routerLinkActive="active">Not Found</a></li>
      <li><a routerLink="/demo" routerLinkActive="active">Demo</a></li> -->
    </ul>
  </nav>
