<div *ngIf="product">
    <mat-card class="mat-card" >
    <div class="mat-card-1" >
        <img [src]="product.image" alt="product of list"/>
    </div>
    <div class="mat-card-1">
        <h1><strong>Name:</strong> {{product.title | uppercase}} </h1>
        <p><strong>Price:</strong> {{product.price | currency}}</p>
        <p><strong>Description:</strong>{{product.description}}</p>
    </div>
    <!-- <button (click)='createProduct()'>create</button>
    <button (click)='updateProduct()'>update</button>
    <button (click)='deleteProduct()'>delete</button> -->
    </mat-card>
</div>