
<h3 appHighlight class="font-product-title"> {{product.title | uppercase}}</h3>
<figure class='image'>
    <img  [src]=product.image alt="product select">
</figure>
<div class='container-add-product'>
    <button (click)="addCart()" mat-raised-button color="primary">Add Card</button>
    <strong> {{product.price | currency}}</strong> 
    <p>Description: {{product.description | slice:0:10}}</p>
    <p> {{today | date: 'hh: mm: a'}}</p>
</div>
<a [routerLink]="['/products', product.id]">See details</a>

