<input type="text" [(ngModel)]='title'>
{{title}}
<input type="text" [(ngModel)]='power'>
{{power | exponencial}}
<div class="product-grid">
<app-product *ngFor="let product of products" (addedCart)="clickProduct($event)" [product]='product'></app-product>
</div>

<div [ngSwitch]="title">
    <p *ngSwitchCase="'Nicolas'">Este es Nicolas</p>
    <p *ngSwitchCase="'Juan'">Este es Juan</p>
    <p *ngSwitchDefault>Not match</p>
</div>
<button (click)="addItem()">Add items</button>
<li *ngIf="items.length ===0">la lista esta vacia</li>
<li *ngFor="let user of items; index as i">
    {{user}}  {{i}}
    <button (click)="removeItem(i)">Delete</button>
</li>
<!-- <app-item-output ></app-item-output> -->