<app-banner>
</app-banner>

  <div class="grid-container">
    <div class="area1">
        <img class="image1" src="https://i.ibb.co/qk4CRCq/hand-holding-many-colorful-shopping-bags.jpg" />
    </div>
    <div class="area2">
        <img class="image1" src="https://i.ibb.co/dMcH5QB/Shopping-online-use-credit-card-to-pay-online-Vintage-tone-Retro-filter-effect-Business-online-shopp.jpg" />
    </div>
    <div class="Texto1">
        <h1 class="texto" >Book a product</h1>
    </div>
    <div class="Texto2">
        <h1 class="texto">Store near to you</h1>
    </div>
  </div>
