/* You can add global styles to this file, and also import other style files */
// body{
//     margin: 0px;
//     padding: 0px;
// }

.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 37px 42px;// nos hará breakpoints cada 300px;
}
html, body { height: 100%; }
body { margin: 0; }
.container{
    width: 90%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    background-color: bisque;
}
