/* You can add global styles to this file, and also import other style files */

.product-grid{
    display: grid;
    margin-top: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 37px 42px;// nos hará breakpoints cada 300px;
    margin-bottom: 1rem;
}
html, body { height: 100%; }
body { margin: 0; 
    background-color: #b6d2dd;
}
.container{
    width: 90%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    background-color: #b6d2dd;
}
